@charset "UTF-8";
 
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D9D5C5, #72a664);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #50744783 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #067302;
    text-align: center;
  text-shadow: 1px 1px 2px #044201b5 ;
}

h2 {
   color: #078C03;  
   text-shadow: 1px 1px 2px #044201b5;
}

p {
    text-align: justify;
}